.app-body{
  min-height: 70vh;
  height: 70%;
}

.app-body-search{
  margin: 10px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  display: inline-block;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  color: #fff;
  -webkit-text-fill-color: #fff !important;
  caret-color: currentcolor !important;
}
