.app-body{
  min-height: 70vh;
  height: 70%;
}

embed{
  max-width: 99%;
  aspect-ratio: 16/9;
}

html{
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.app-body-search{
  margin: 10px;
}

.codex-editor__redactor{
  width: 95%;
}
.ce-toolbar__settings-btn{
  margin-right: 8px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  color: #fff;
  -webkit-text-fill-color: #fff !important;
  caret-color: currentcolor !important;
}

select {
  border: 0;
  background: url('./resources/icons/down_arrow1.png') no-repeat right #fff;
  background-position-x: 100%;
  background-size: 1.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  appearance: none;       /* Remove default arrow */
  
}

select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

.header-nav__selectanim{
  bottom: 0;
  left: 0;
  height: 3px;
  margin: 0 auto;
  width: 67px;
  background-color: white;
  position: absolute;
}

nav .header-nav__selectanim, a:nth-child(1):hover~{
    width: 100%;
    left: 0;
}