.app-body{
  min-height: 70vh;
  height: 70%;
}

html{
  height: 100%;
  width: 100%;
}
.app-body-search{
  margin: 10px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  display: inline-block;
}

.ck-editor{
  width: 400px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  color: #fff;
  -webkit-text-fill-color: #fff !important;
  caret-color: currentcolor !important;
}

select {
  border: 0;
  background: url('./resources/down_arrow1.png') no-repeat right #fff;
  background-position-x: 100%;
  background-size: 1.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  appearance: none;       /* Remove default arrow */
  
}

select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
